# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Database
# ==========================
*.db
*.sqlite3

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Node.js
# ==========================
node_modules/

# ==========================
# Build Files
# ==========================
dist/
build/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db